* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222;
    font-weight: 300;
}
.page_content {
    width: 960px;
    margin: 150px auto;
    position: relative;
    overflow: auto;
    position: relative;
}
.toolbar {
    min-height: 32px;
    margin: 9px 0 9px 10px;
    line-height: 32px;
    font-size: 16px;
    overflow: auto;
}
.toolbar_btn {
    float: left;
    padding: 0 10px;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 6px;
    color: #444;
    cursor: pointer;
    background-repeat: no-repeat;
}
.btn_grey {
    background-color: #DDD;
    margin: 1px 10px 0 0;
    height: 30px;
}
.btn_grey:hover {
    color: #FFF;
    background-color: #1986C4;
    border: 0;
}
.yello {
    background-color: rgba(255,145,0,0.15);
    border-color: #ff9100;
}
.green {
    background-color: rgba(125,189,59,0.15);
    border-color: #7dbd3b;
}
.image-marker__dot.yello, .image-marker__line.yello {
    background-color: #ff9100;
    border-radius: 0;
}
.image-marker__dot.yello:after {
    content: '';
    background-color: #ff9100;
    height: 63px;
    display: block;
    position: relative;
    top: -22px;
}
.image-marker__dot.green, .image-marker__line.green {
    background-color: #7dbd3b;
    opacity: 0.8;
    z-index: 99;
}
.image-marker__dot.green {
    border: 1px solid #000;
}
.btn-float-right {
    float: right;
}


